* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.container {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 20%;
    padding-left: 136px;
}

.container-right {
    display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 20%;
    right: 140px;
}

h1 {
    width: 368px;
    height: 160px;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
}

p {
    width: 540px;
    height: 144px;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin: 15px 0;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border-radius: 50px;
    border: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

a {
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin-top: 24px;
    margin-left: 57px;
}

@media screen and (max-width:700px) {
    .container-left {
        width: 100%;
        height: 50vh;
        padding: 0;
        margin: 0;
    }

    .container-right {
        width: 100%;
        height: auto;
        display: block;
        padding: 40px;
        position: static;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        height: auto;
        width: auto;
        margin: 58px 80px 0 80px;
        text-align: center;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin: 15px 40px;
        width: auto;
        height: auto;
    }

    button {
        display: block;
        margin: 0 auto;
    }

    header {
        display: none;
    }

    img {
        width: 90%;
        position: static;
    }
}

@media screen and (max-width:900px) {
    .container-left {
        width: 100%;
        height: 50vh;
        padding: 0;
        margin: 0;
    }

    .container-right {
        width: 100%;
        height: auto;
        display: block;
        padding: 40px;
        position: static;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        height: auto;
        width: auto;
        margin: 58px 80px 0 80px;
        text-align: center;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin: 15px 40px;
        width: auto;
        height: auto;
    }

    button {
        display: block;
        margin: 0 auto;
    }

    header {
        display: none;
    }

    img {
        width: 90%;
        position: static;
    }
}